@model DepartmentCreateVM

@{
    ViewData["Title"] = "Department Create";
}
<div class="card header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Department Create</h6>
</div>
<div class="card-body">
<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" class="form-control" id="name"  placeholder="Enter name" asp-for="Name">
        <span id="name" class="form-text text-muted" asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>